<div class="col-md-12">
  <div class="row box center-block">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">ChuLab Website</h1>
      <p class="slogan">登入才能使用完整功能喔 ◉‿◉！</p>
      <p class="lead">
        <%= link_to '點我登入', new_user_session_path, class: 'btn btn-homemade' %>
      </p>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">2020/8/6-2020/8/7</h2>
        <p class="lead">實驗室出遊 at 清境農場 ft. ICC實驗室</p>
        <p class="lead">咩🐑～～</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img src="https://res.cloudinary.com/dwqkqpffc/image/upload/v1598525651/Chulab_Website/IMG_4562_igymu7.jpg" class="img-responsive center-block">
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">2020/8/3</h2>
        <p class="lead">謝師宴 at 開飯川</p>
        <p class="lead">謝謝老師～～！敬～！</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img src="https://res.cloudinary.com/dwqkqpffc/image/upload/v1598526719/Chulab_Website/IMG_4479_a6vacp.jpg" class="img-responsive center-block">
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">2020/5/4</h2>
        <p class="lead">畢業照 at 清華大草皮</p>
        <p class="lead">回到地球表面之後...寫論文啊～哭</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img src="https://res.cloudinary.com/dwqkqpffc/image/upload/v1598376240/Chulab_Website/IMG_9043_nzrjol.jpg" class="img-responsive center-block">
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">什麼？你說你想要新增照片！？</h2>
        <p class="lead">我們期待下一任網管為我們新增此功能～喵🐱～</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img src="https://res.cloudinary.com/dwqkqpffc/image/upload/v1598526085/Chulab_Website/IMG_4594_fanbey.jpg" class="img-responsive center-block">
      </div>
    </div>
  </div>
</div>
