<h2 class="text-center">編輯個人資料</h2>

<%= simple_form_for @profile, :url => user_profile_path do |f| %>

  <div class="col-md-4 col-md-offset-4">
    <div class="form-group">
      <%= f.input :name, label: "名字", input_html:{ class: "form-control"} %>
      <%= f.input :birthday, label: "生日", :as=> 'string', placeholder: "YYYY-MM-DD" %>
    </div>

    <br></br>
    <%= f.submit "送出", class:"btn btn-primary", data: {disable_with: "送出中..."} %>
  </div>

<% end %>

<script>
  $("#profile_birthday").datepicker({ format: "yyyy-mm-dd" });
</script>
